@model IEnumerable<AdminPanel.Models.ImageContentModelForList>

@{
    ViewBag.Title = "ImageContent_List";
}

<h2>ImageContent_List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParentCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
          <img src="@item.ImageUrl" alt="Photoes" style="width:100px;height:100px" />
            @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { Href = "#" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { Href = "#" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { Href = "#" })
        </td>
    </tr>
}

</table>
